
:root {
	--accent: #40b8b6;
	--accent-dark: #319795;
	--accent-darker: #257472;
	--background: #2c2f35;
	--text-accent: rgb(245 245 245 / 100%);
	--text: rgb(163 163 163 / 100%);
	--headings: rgb(245 245 245 / 100%);
	--border: rgb(68 72 80 / 90%);
	--bg-darker: #272a30;
	--github: #5F89B1;
	--linkedin: #0077B5;
	--email: #8186A2;
}

*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text);
	background: var(--background);
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}
a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: color 200ms ease-in-out;
	&:hover {color: var(--accent);}
}
img {
	height: auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.container {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@media screen and (width > 768px) {width: 720px;}
	@media screen and (width > 992px) {width: 960px;}
	@media screen and (width > 1200px) {width: 1160px;}
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 10rem;
	padding: 3.5rem 0;
}
section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: 50vh;
}

h1 {
	font-size: 2rem;
	line-height: 2.25rem;
	color: var(--headings);
}
h2 {
	font-size: 1.875rem;
	line-height: 1.75rem;
	font-weight: bold;
	color: var(--headings);
}
h3 {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: .5rem;
	color: var(--headings);
}
h4 {
	line-height: 1.2;
	font-weight: bold;
	font-size: 1.3rem;
	color: var(--headings);
}

button {
	cursor: pointer;
	text-decoration: none;
	outline: 2px solid transparent;
	outline-offset: 2px;
	color: inherit;
	width: 11rem;
	height: 3rem;
	background: transparent;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--accent);
	transition: all 0.2s ease-in-out;
	&:hover {background-color: rgb(60 64 71 / 70%);}

	&.primary {
		background-color: var(--accent-dark);
		border-color: transparent;
		&:hover {background-color: var(--accent-darker);}
	}
}
